body {
	background: #009AD9;
	line-height: 18px;
	color: #fff;
	font-size: 16px;
	font-family: 'Alegreya Sans', sans-serif;
}
a {
	color: #9fc5d5;
	text-decoration: none;
}
#content {
	margin: 0 auto;
	margin-top: 100px;
	width: 644px;
	text-align: left;
	position: relative;
}
.center {
	text-align: center;
}
#back {
	position: absolute;
	left: 12px;
	top: 326px;
}
.small {
	color: #9fc5d5;
	font-size: 13px;
}